services:
  mongodb:
    image: mongo:7
    container_name: trackify-mongodb
    restart: unless-stopped
    ports:
      - "27019:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: trackify
    networks:
      - trackify-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: trackify-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongodb:27017/trackify
      - JWT_SECRET=ma_cle_secrete_12345
      - JWT_EXPIRE=7d
      - PORT=5000
    depends_on:
      - mongodb
    networks:
      - trackify-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://localhost:5000/api
    container_name: trackify-frontend
    restart: unless-stopped
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - trackify-network

networks:
  trackify-network:
    driver: bridge

volumes:
  mongodb_data:

